section.about#about
    div.container
        div.about__content
            div.about__content-left
                +h3('О нас')
                div.about__text-wrap
                    p.about__text <span>Tugush</span> - это команда экспертов с мировым именем, на счету которой десятки высокоэффективных финансовых проектов и успешных бизнес-кейсов.
                    p.about__text <span>Tugush</span> - это надёжность, безопасность, экспертиза.
                //include ../blocks/more-info-btn
            div.about__content-right
                img.about__img(src="../images/png/money.png" alt="money")