section.about#about
    div.container
        div.about__content
            div.about__content-left
                +h3('About us')
                div.about__text-wrap
                    p.about__text <span>Tugush</span> is a team of experts. In three years of work we accomplished dozens of highly effective financial projects and acquired worldwide reputation.
                    p.about__text <span>Tugush</span> means reliability, security, expertise.
                //include ../blocks/more-info-btn
            div.about__content-right
                img.about__img(src="../images/png/money.png" alt="money")




