section(class="first-platform")
    div(class="container")
        div(class="first-platform__content")
            div(class="first-platform__logo-wrap")
                img(class="first-platform__logo" src="../images/logos/logo.png" alt="logo")
                img.first-platform__tugush(src="../images/logos/-e-tugush_lend.png" alt="tugush")
            h2(class="first-platform__title") <span>TUGUSH FINANCE</span> - первая глобальная финансовая платформа с применением Blockchain-технологий
            button(class="first-platform__btn") Протестировать