section(class="first-platform")
    div(class="container")
        div(class="first-platform__content")
            div(class="first-platform__logo-wrap")
                img(class="first-platform__logo" src="../images/logos/logo-tugush.png" alt="logo")
            h2(class="first-platform__title") <span>TUGUSH FINANCE</span> is the first global blockchain-based financial platform
            //button(class="first-platform__btn") Протестировать
