header(class="header")
  div(class="container")
    div(class="header__content")
      a(class="header__logo-link")
        img(src="../images/logos/logo-finance.png" alt="logo" class="header__logo" )
      nav(class="header__nav")
        ul(class="header__list")
          li(class="header__item")
            a(href="#about" class="header__link") About us
          li(class="header__item")
            a(href="#products" class="header__link") Our products
          li(class="header__item")
            a(href="#partners" class="header__link") Partners
          li(class="header__item")
            a(href="#footer" class="header__link") Contacts
      div(class="header__language")
        a(class="header__language-link" href="../index.html") RUS
      //div(class="header__registration")
        //button(class="header__auth-btn") Вход
        //span() /
        //button(class="header__auth-btn" id="registrationBtn") Вход

