section.partners#partners
    .container
        .partners__content
            +h3('Партнеры')
            ul.partners__list
                li.partners__item
                    img.partners__img1(src="../images/png/hbtc-logo@2x.png" alt="HTBC")
                li.partners__item
                    img.partners__img2(src="../images/png/storiqa@2x.png" alt="STORIQA")
                li.partners__item
                    img.partners__img3(src="../images/png/bitfinex@2x.png" alt="BITFINEX")
                li.partners__item
                    img.partners__img4(src="../images/png/icobox@2x.png" alt="ICOBOX")
                li.partners__item
                    img.partners__img5(src="../images/png/binance@2x.png" alt="BINANCE")