mixin product(titleThin, titleBold, desc, href)
    div(class='product')
        h1(class='product__title')
            span=titleThin + ' '
            =titleBold
        p(class='product__desc')=desc
        if titleThin !== 'multicurrency'
            a.more-info-btn(href=href)
                p.more-info-btn__text more info
                img.more-info-btn__pointer(src="../images/png/Слой 688 копия.png" alt="pointer")

mixin h3(title_text)
    .h3__container
        h3.h3__title=title_text
        img.h3__img(src="../images/png/vec3x.png")
