.about {
  padding: 83px 0 215px;
}

.about__content {
  display: flex;
  align-items: flex-end;
}

.about__content-left {

}

.about__title {

}

.about__text-wrap {
  margin-bottom: 110px;
}

.about__text {
  color: white;
  font-size: 30px;
  font-weight: 100;
  margin-top: 35px;
  width: 510px;
}

.about__text span {
  font-weight: 300;
}

.about__content-right {

}

.about__img {
  margin-bottom: -50px;
  margin-left: -130px;
  width: 900px;
}