* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 66px; // it's for fixed menu
  min-width: 1200px;
  background: url("../images/bg/blue.png");
  position: relative;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

div, ul, li, p, a, img, button {
  box-sizing: border-box;
  display: block;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  font-weight: revert;
}

.container {
  min-width: 1220px;
  width: 1220px;
  padding: 0 35px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 392px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 17px 0 15px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.car-bg {
  position: absolute;
  //top: -15px;
  left: 0;
  right: 0;
  z-index: -999;
  opacity: 0.45;
  width: 102%;
}