.more-info-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
}

.more-info-btn__text {
  cursor: pointer;
  color: white;
  font-size: 30px;
  text-decoration: underline;
  font-weight: 100;
}

.more-info-btn__pointer {

}